.wrapper{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-top: 24px;

    @media (max-width:1024px) {
        width: 95%;
    }

    @media (max-width:740px) {
        width: 100%;
        margin-bottom: 0px;
    }

    .outstanding{
        overflow: hidden;

        .subOutstanding{
            height: 190px;
            border-radius: 3px;
            margin-bottom: 24px;

            @media (max-width:1024px) {
                margin-bottom: 16px;
            }

            @media (max-width:740px) {
                margin-bottom: 8px;
            }
        }
    }
}


//responsive

.row{
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
    flex-wrap: wrap;

    @media (max-width:1024px) {
        margin-left: -8px;
        margin-right: -8px;
    }

    @media (max-width:740px) {
        margin-left: -4px;
        margin-right: -4px;
    }
}


.col{
    padding-left: 12px;
    padding-right: 12px;

    @media (max-width:1024px) {
        padding-left: 8px;
        padding-right: 8px;
    }

    @media (max-width:740px) {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.l-none{
    display: none;
}

.l-1{
    width: 8.33334%;
}

.l-2{
    width: 16.66666%;
}

.l-3{
    width: 25%;
}

.l-4{
    width: 33.33334%;
}

.l-5{
    width: 41.66667%;
}

.l-6{
    width: 50%;
}

.l-7{
    width: 58.33334%;
}

.l-8{
    width: 66.66666%;
}

.l-9{
    width: 75%;
}

.l-10{
    width: 83.3333%;
}

.l-11{
    width: 91.66666%;
}

.l-12{
    width: 100%;
}

@media (max-width:1024px) {
    .m-none{
        display: none;
    }
    
    .m-1{
        width: 8.33334%;
    }
    
    .m-2{
        width: 16.66666%;
    }
    
    .m-3{
        width: 25%;
    }
    
    .m-4{
        width: 33.33334%;
    }
    
    .m-5{
        width: 41.66667%;
    }
    
    .m-6{
        width: 50%;
    }
    
    .m-7{
        width: 58.33334%;
    }
    
    .m-8{
        width: 66.66666%;
    }
    
    .m-9{
        width: 75%;
    }
    
    .m-10{
        width: 83.3333%;
    }
    
    .m-11{
        width: 91.66666%;
    }
    
    .m-12{
        width: 100%;
    }
}

@media (max-width:740px) {
    .s-none{
        display: none;
    }
    
    .s-1{
        width: 8.33334%;
    }
    
    .s-2{
        width: 16.66666%;
    }
    
    .s-3{
        width: 25%;
    }
    
    .s-4{
        width: 33.33334%;
    }
    
    .s-5{
        width: 41.66667%;
    }
    
    .s-6{
        width: 50%;
    }
    
    .s-7{
        width: 58.33334%;
    }
    
    .s-8{
        width: 66.66666%;
    }
    
    .s-9{
        width: 75%;
    }
    
    .s-10{
        width: 83.3333%;
    }
    
    .s-11{
        width: 91.66666%;
    }
    
    .s-12{
        width: 100%;
    }
}